body
{

    background-color: black;
    color: darkolivegreen;
    font-family: Z003;
    font-size: 24px;

}

.navbar
{

    display: block;
    width: 100%;

}

.navbar li
{

    list-style: none;
    float: left;
    padding-right: 20px;

}

.navbar li a
{

    color: aqua;
    text-decoration: none;

}

.navbar li a:hover
{

    color: darkolivegreen;

}

.navbar li a:active
{

    color: aquamarine;

}

.navbar li a:visited
{

    color: aquamarine;

}

.container
{

    display: block;
    color: aqua;
    text-align: center;
    padding: 0 20px 0 20px;

}

.greeting
{

    line-height: 2;
    color: darkolivegreen;

}

.about
{

    text-align: justify;
    line-height: 1.5;

}

